@mixin largura($width){
    margin: 0 auto;
    width: $width;
}

@mixin estilo-textos($f-family, $f-size, $f-weight, $f-color){
    font-family: $f-family;
    font-size: $f-size;
    font-weight: $f-weight;
    color: $f-color;
}